{% extends 'Notes/base.html' %}
{% block body %}
<h1>Welcome :{{ user.username }}</h1>
<h2>Here all your Notes and Dolists :</h2>
<h3>Note:</h3>
{% for note in all_notes%}
<h4>{{ note }}</h4>
{%for notetag in note.notetag_set.all%}
<h6>{{ notetag.usertag }}</h6>
{% endfor %}
{% endfor %}
<h3>Dolist:</h3>
{% for list in all_listdos %}
<h4>{{ list }}</h4>
{% for content in list.listcontent_set.all %}
<h5>{{ content }}</h5>
{% endfor %}
{%for listdotag in list.listdotag_set.all%}
<h6>{{ listdotag.usertag }}</h6>
{% endfor %}
{% endfor %}
{% endblock %}
